{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Post Detail
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3>{{ post.title }}</h3>
            <small>by: <a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a></small><br>
            <small>{{ post.modified|date:"Y-m-D-P" }}</small>
            <p>{{ post.body }}</p>
            {% if request.user.id == post.user.id %}
                <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
            {% endif %}
        </div>
    </div>
    <div>
        {% if request.user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Send">
            </form>
        {% else %}
            <p class="alert alert-danger">Only logged in users can comment!</p>
        {% endif %}
    </div><br>

    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">{{ comment.user.username }} | {{ comment.created|timesince }} </p>
            <p class="card-body">{{ comment.body }}</p>
            {% if request.user.is_authenticated %}
                <form action="{% url 'home:add_reply' post.id comment.id %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Reply">
                </form><br>

            {% endif %}
            {% with replies=comment.rcomments.all %}
                {% for reply in replies %}
                    <p class="bg-primary p-3 m-2">{{ reply.user }} <br> {{ reply.body }}</p>
                {% endfor %}
            {% endwith %}

        </div><br>
    {% empty %}
        <div class="card bg-dark text-white">
            <p class="card-header">No comments yet!</p>
        </div>
    {% endfor %}




{% endblock %}
