{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Post Detail
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3>{{ post.title }}</h3>
            <small>by: <a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a></small><br>
            <small>{{ post.modified|date:"Y-m-D-P" }}</small>
            <p>{{ post.body }}</p>
            {% if request.user.is_authenticated %}
                {% if not user_cant_like %}
                    <a href="{% url 'home:post_like' post.id %}" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                        </svg>
                        Like{{ post.likes_count }}
                    </a>
                {% endif %}
                {% if user_cant_like %}
                    <a href="{% url 'home:post_dislike' post.id %}" class="btn btn-outline-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                        </svg>
                        Dislike{{ post.likes_count }}
                    </a>
                {% endif %}
            {% endif %}
            {% if request.user.id == post.user.id %}
                <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
            {% endif %}

        </div>
    </div>
    <div>
        <br>
        {% if request.user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <input class="btn btn-primary" type="submit" value="Send">
            </form>
        {% else %}
            <p class="alert alert-danger">Only logged in users can comment!</p>
        {% endif %}
    </div><br>

    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">{{ comment.user.username }} | {{ comment.created|timesince }} </p>
            <p class="card-body">{{ comment.body }}</p>
            {% if request.user.is_authenticated %}
                <form action="{% url 'home:add_reply' post.id comment.id %}" method="post">
                    {% csrf_token %}
                    {{ reply_form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Reply">
                </form><br>

            {% endif %}
            {% with replies=comment.rcomments.all %}
                {% for reply in replies %}
                    <p class="bg-primary p-3 m-2">{{ reply.user }} <br> {{ reply.body }}</p>
                {% endfor %}
            {% endwith %}

        </div><br>
    {% empty %}
        <div class="card bg-dark text-white">
            <p class="card-header">No comments yet!</p>
        </div>
    {% endfor %}




{% endblock %}
