{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2 class="text-center">{{ user.username }}</h2>
        {% if request.user.id != user.id and not is_following %}
            <a class="btn btn-primary" href="{% url 'account:user_follow' user.id %}">Follow</a>
        {% elif request.user.id != user.id and is_following %}
            <button class="btn btn-dark">Following</button>
            <a class="btn btn-danger" href="{% url 'account:user_unfollow' user.id %}">Unfollow</a>
        {% endif %}
    </div>

    <div class="card">
        <div class="card-body">
            {% for post in posts %}
                <h3><a href="{{ post.get_absolute_url }}" class="card-body">{{ post.title }}</a></h3>
            {% endfor %}


        </div>
    </div>
    <div>
        {% if request.user.id == user.id %}
            <a class="btn btn-primary" href="{% url 'home:post_create' %}">Create</a>
            <a class="btn btn-primary" href="{% url 'account:edit_profile' %}">Edite Profile</a>
        {% endif %}
    </div>
{% endblock %}