{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2 class="text-center">{{ user.username }}</h2>
        <a class="btn btn-info" href="{% url 'account:user_following' user.id %} ">followings({{ user.followings.all.count }})</a>
        <a class="btn btn-success" href="{% url 'account:user_followers' user.id %}">followers({{ user.followers.all.count }})</a>
    </div>
    {% if request.user.id != user.id%}
        <a class="{% if is_following %}disabled{% endif %} btn btn-primary" href="{% url 'account:user_follow' user.id %}">Follow</a>
        <a class="{% if not is_following %}disabled{% endif %} btn btn-danger" href="{% url 'account:user_unfollow' user.id %}">Unfollow</a>
    {% endif %}

    <div class="card">
        <div class="card-body">
            {% for post in posts %}
                <h3><a href="{{ post.get_absolute_url }}" class="card-body">{{ post.title }}</a></h3>
            {% endfor %}


        </div>
    </div>
    <div>
        {% if request.user.id == user.id %}
            <a class="btn btn-primary" href="{% url 'home:post_create' %}">Create</a>
            <a class="btn btn-primary" href="{% url 'account:edit_profile' %}">Edite Profile</a>
        {% endif %}
    </div>
{% endblock %}